name: Docker Compose CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-docker-action@v1.2.0
    - name: Test Docker Compose
      run: docker-compose -f docker-compose.yml up --build
